

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title><% if(pageinit.pagename){ %><%= pageinit.pagename %> | <% } %><%= pageinit.title %></title>

  <link rel="canonical" href="https://leverages.jp/" />
  <link rel="icon" href="<%= pageinit.path %>img/favicon.ico">
  <!-- iOS Safari and Chrome -->
  <link rel="apple-touch-icon" sizes="192x192" href="<%= pageinit.path %>img/touch-icon.png">

  <meta property="og:title" content="<%= pageinit.title %>" />
  <meta property="og:description" content="<%= pageinit.description %>" />
  <meta property="og:url" content="<%= pageinit.ogurl %>"/>
  <meta property="og:image" content="<%= pageinit.ogimage %>"/>
  <meta property="og:type" content="<%= pageinit.type %>" />
  <meta property="og:site_name" content="<%= pageinit.sitename %>" />
  <meta name="apple-mobile-web-app-title" content="">
  <meta name="robots" content="<%= pageinit.robots %>">
  <meta name="theme-color" content="#FFFFFF" />


  <!-- Font -->

  <!-- Font -->

  <link rel="stylesheet" href="<%= pageinit.path %>css/style.css" type="text/css">


</head>

